<mat-button-toggle-group [(ngModel)]="is_recieving">
  <mat-button-toggle value="start">Start receiving</mat-button-toggle>
  <mat-button-toggle value="home">Mail Icon</mat-button-toggle>
  <mat-button-toggle value="stop">Stop receiving</mat-button-toggle>
</mat-button-toggle-group>
<div>Selected value: {{ is_recieving }}</div>

<div *ngIf="is_recieving == 'start'; else elseBlock">{{ message_counter }}</div>
<ng-template #elseBlock> </ng-template>

<!-- <hello name="{{ name }}"></hello> -->
<!-- <p>Start editing to see some magic happen :)</p> -->
